*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 8px;
}

a{
    color: black;
}

img{
    width: 100%;
    height: auto;
}
header{
        justify-content: flex-start;
        display: flex;
        align-items: center;
        height: 20em;
        width: 100%;
        padding: 0 17em;
        background-color: #FFF1CD;
}
h1{
        font-size: 5em;
    }
h2{
        font-size: 3em;
    }
nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 17em;
        width: 100%;
        height: 6em;
        text-transform: uppercase;
        background-color: #FFDAA1;
    }
nav a{
        font-size: 1.75em;
        margin: 0 5.75em 0 0;
    }
main{
        width: 100%;
    }
main aside img{
    height: 15em;
    width: 100%;
    object-fit: cover;
    object-position: center;
    }
section{
    background-color: #FFF1CD;
    display: flex;
    flex-wrap: wrap;
    padding: 0 17em;
    }
figure{
    padding: 1em;
    flex-basis: 33%;
    }
footer{
    padding: 0 17em;
    width: 100%;
    display: flex;
    height: 15em;
    background-color: #FFDAA1;
    }
footer p{
    font-size: 1.75em;
    margin: 3em 9em 0 2em;
    }
